node_modules/
# Игнорирование временных файлов IDE
*.log
.idea/
.vscode/
# Игнорирование файлов с конфиденциальной информацией
.env

# Игнорирование собранных файлов (например, для Vue.js)
dist/

venv/
.idea/
build/
dist/
